*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    color: black;
    transition: 0.8s;
}

body{
    /* background: #0d0d0d; */
}

.nft-minter-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3rem;
}

.nft-minter-heading p{
    font-size: 1.9rem;
}

.div-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.div-label p{
    font-size: 1.5rem;
    padding-right: 1rem;
}

h1{
    padding-left: 1rem;
    text-align: center;
}

.parent-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div{
    /* margin-top: 4rem; */
    width: 60%;
    /* display: none; */
}

.hidden{
    display: none;
}

input{
    background: none;
    color: black;
    border: none;
    border-bottom: 2px solid blue;
    outline: none;
    padding: 0.3rem;
    width: 100%;
    margin-bottom: 1rem;
}

.input-label {
    padding: 0.3rem;
    margin: 1rem;
}

label {
    padding-bottom: 0.4rem;
}

.input-label-image {
    padding-top: 0.3rem;
    margin: 1rem 0;
}

button {
    border: 2px solid blue;
    padding: 0.4rem 0.5rem;
    /* color: white; */
    background: none;
    margin: 1rem 0;
    /* width: 30%; */
    transition: 0.8s;
    cursor: pointer;
    border-radius: 2rem;
}

.button_subm {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button
{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    /* color: white; */
    font-family: poppins;
    border: 2px solid blue;
    cursor: pointer;
    transition: 0.8s;
}

.button:hover
{
    transition: 0.8s;
    background: none;
    /* color: white; */
    box-shadow: 0 1px 1px 0 blue inset, 0 1px 5px 0 blue,
                0 1px 1px 0 blue inset, 0 1px 5px 0 blue;
    text-shadow: 0 0 1px blue, 0 0 15px blue;
}

#btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-right: 5rem;
    margin-top: 2rem;
    border-radius: 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

#btn-login p{
    padding-left: 1.3rem;    
    font-size: 1.5rem;
}

#btn-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-left: 2rem;
}

#btn-upload p {
    padding-left: 1rem;    
    font-size: 1.3rem;
}




/* ////////////////////////// LOADER CODE /////////////////////////// */

.lds-roller {
    display: none;
    /* position: relative; */
    margin-left: 50%;
    margin-top: 25%;
    width: 80px;
    height: 80px;
    text-align: center;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  



/* ////////////////////// Input area ////////////////////////// */

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: 2px solid blue;
  background: blue;
  padding: 10px 20px;
  border-radius: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: .8s;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

input[type=file]::file-selector-button:hover {
  /* background: #0d45a5; */
  background: white;
  color: blue;
}