*{
    color: black;
    transition: 0.8s;
}

.main-1-div {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    /* border: 1px solid red; */
}

.detail-side {
    background: rgb(229, 229, 247);
    width: 60%;
    margin: 3rem;
    border: 1px solid white;
    padding: 2.5rem;
    /* padding-bottom: 1.3rem; */
}

.detail-side h1{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Poppins;
    text-align: center;
    color: blue;
}

.detail-side p{
    text-align: center;
    font-family: Poppins;
}



.name-div {
    /* background: #0b0b0b; */
    /* margin: 1rem; */
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border: none;
    border: 8px solid blue;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    border-color: blue
}

.name-div:focus {
    border-color: green
}

.name-div p{
    font-family: Poppins;
    text-align: left;
    padding-left: 1.5rem;
}

.name-div h3{
    font-family: Poppins;
}

.NFT-upload {
    padding: 2rem;
    padding-left: 0;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.submit-inp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.custom-file-submit {
    border: 1px solid #ccc;
    padding: 0.5rem 0;
    width: 20%;
    cursor: pointer;
}

.image-side {
    background: rgb(229, 229, 247);
    width: 40%;
    margin: 3rem;
    padding: 1rem 1rem;
    /* border: 1px solid blue; */
}

.image-side img{
    width: 100%;
}